---
import bun3 from "../assets/bun3.webp";
---

<section class="py-24 relative" id="our">
  <div class="w-full max-w-7xl px-4 md:px-5 lg:px-5 mx-auto">
    <div
      class="w-full justify-start items-center gap-8 grid lg:grid-cols-2 grid-cols-1"
    >
      <div
        class="w-full flex-col justify-start lg:items-start items-center gap-10 inline-flex"
      >
        <div
          class="w-full flex-col justify-start lg:items-start items-center gap-4 flex"
        >
          <h2
            class="text-gray-900 text-4xl font-bold font-manrope leading-normal lg:text-start text-center"
          >
            Preservando la Tradición Familiar desde Hace Generaciones
          </h2>
          <p
            class="text-gray-500 text-base font-normal leading-relaxed lg:text-start text-center"
          >
            Nuestra historia comenzó en una pequeña cocina familiar donde la
            abuela María elaboraba buñuelos siguiendo una receta centenaria. Lo
            que empezó como una tradición para celebraciones especiales, se
            convirtió en una pasión que ha trascendido generaciones.
          </p>
          <p
            class="text-gray-500 text-base font-normal leading-relaxed lg:text-start text-center mt-4"
          >
            Hoy, mantenemos vivo ese legado utilizando los mismos métodos
            artesanales e ingredientes de la más alta calidad. Cada buñuelo que
            elaboramos lleva consigo el sabor de nuestra historia y el
            compromiso con la excelencia que nos ha caracterizado desde nuestros
            inicios.
          </p>
        </div>
      </div>
      <img
        class="lg:mx-0 mx-auto h-full rounded-3xl object-cover"
        src={bun3.src}
        alt="Tradición familiar de buñuelos artesanales"
      />
    </div>
  </div>
</section>
